*{
    list-style: none;
    border-collapse: collapse;
    text-decoration: none;
    margin: 0vw;
    padding: 0vw;
    
    
}
@font-face {
    font-family: 'pre';
    src: url("PretendardVariable.ttf");
}
@font-face {
    font-family: 'NBP';
    src: url("NbpInformaFivesix-2dXW.ttf");
}

body{
    background: linear-gradient(#FDFEFF,#eff2fb, #b6c4f4 100%);
}
/*상단*/
.header{
    width: 92.2vw;
    height: 11.3vw;
    margin: auto;
    display: flex;
}
.back{
    font-family: 'NBP';
    font-size: 40px;
    color: #0019FB;
    margin-top:36px ;  
    
    width: 68px;
    height: 45px;
   background-color: #ffffff;
   border:2px solid #0019FB;
    border-radius: 25px;
    position: absolute;
}
.folder{
    width: 75px;
    height: 52px;
    margin-top: 33px;
    margin-right: 30px;
    margin-left: 95px;
    position: relative;
    background-color: transparent;
    }
.backnfolder{
    display: flex;
    width: 8.7vw;
    line-height: 11.3vw;
    position: relative;
    
}
.bar{
    width: 92.2vw;
    position: absolute;
    height:2px;
    margin-top: 123px;
    display: flex;
    background: #0019FB;
}
.btn{
    display: flex;
    width: 83.5vw;
    justify-content: flex-end;
    line-height: 123px;
}
.back:hover {
    letter-spacing: 1.5px;
    transform: scale(107%);
    cursor: pointer;
}
.info:hover {
    letter-spacing: 1.5px;
    transform: scale(107%);
    cursor: pointer;
}
.info:active {
    transform: scale(1.2);
}
.home:hover {
    letter-spacing: 1.5px;
    transform: scale(107%);
    cursor: pointer;
}
.home:active {
    transform: scale(1.2);
}

.home{
    font-family: 'NBP';
    font-size: 25px;
    color: #0019FB;
    margin-top:36px ;  
    margin-right: 34px;
   margin-left: 20px;
    width: 135px;
    height: 45px;
   background-color: #ffffff;
   border:2px solid #0019FB;
    border-radius: 13px;

}
.info{
    font-family: 'NBP';
    font-size: 25px;
    color: #0019FB;
    margin-top:36px ;  
   
    width: 135px;
    height: 45px;
   background-color: #ffffff;
   border:2px solid #0019FB;
    border-radius: 13px;
}
#title{
    width: 92.2vw;
    margin: auto;
    margin-top: 75px;
    display: grid;
  place-items: center;
}
#titlet{
    font-family: 'NBP';
    font-size: 2vw;
    color: #0019FB;
    text-align: center;
    margin: auto;
    position: absolute;
    
    
}
.bar2{
    width:15vw;
    position: absolute;
    height:2px;
    align-items: center;
    margin-top:4vw;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #0019FB;
}
.p1{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 45px;
}
.p2{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.p3{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.p4{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 150px;
}
@media (max-width: 900px) {
    #titlet{
        font-size: 18px;
     
    }
}
@media (max-width: 750px) {
    #title{
        margin-top: 80px;
    }
}